# Ejercicio 1: Transformar cadenas
Hay varias operaciones que puedes realizar en las cadenas cuando las manipulamos. En este ejercicio, usarás métodos de cadena para modificar el texto con hechos sobre la Luna y luego extraerás información para crear un breve resumen.

> **Nota**
> Dedica unos minutos a tratar de encontrar una solución. Luego desplázate hacia abajo hasta la parte inferior para ver si has logrado compilar el programa de acuerdo con las especificaciones.

El texto con el que trabajarás es el siguiente:

In [13]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

Primero, divide el texto en cada oración para trabajar con su contenido:

In [15]:
# Añade el código necesario

text = text.replace("\n","")
text_list = text.split(". ")
print(text_list)

['Interesting facts about the Moon', "The Moon is Earth's only satellite", 'There are several interesting facts about the Moon and how it affects life here on Earth', 'On average, the Moon moves 4cm away from the Earth every year', 'This yearly drift is not significant enough to cause immediate effects on Earth', 'The highest daylight temperature of the Moon is 127 C.']

Ahora, define algunas palabras clave para búsqueda que te ayudarán a determinar si una oración contiene un hecho.

In [16]:
# Define las palabras pista: average, temperature y distance suenan bien
key_words = ['average', 'temperature', 'distance']
print(key_words)

['average', 'temperature', 'distance']

Cre un bucle para imprimir solo datos sobre la Luna que estén relacionados con las palabras clave definidas anteriormente:

In [60]:
# Ciclo for para recorrer la cadena
important_data = []
for i in text_list:
    for j in key_words:
        if j in i:
            important_data.append(i)
print(important_data)

['On average, the Moon moves 4cm away from the Earth every year', 'The highest daylight temperature of the Moon is 127 C.']

Finalmente, actualiza el bucle(ciclo) para cambiar _C_ a _Celsius_:

In [61]:
# Ciclo para cambiar C a Celsius
for i in range(len(important_data)):
    important_data[i] = important_data[i].replace("C","Celsius")
    
print(important_data)

['On average, the Moon moves 4cm away from the Earth every year', 'The highest daylight temperature of the Moon is 127 Celsius.']

> Recuerda: Lo importante es intentarlo, puedes auxiliarte de internet, libros, etc. El objetivo de una kata es la comprobación de la comprensión de la lección y su aplicación inmediata a la resolución de problemas. Go for it!

# Ejercicio 2: Formateando Cadenas

Saber cómo dar formato a las cadenas es esencial cuando se presenta información de un programa. Hay algunas maneras diferentes de lograr esto en Python. En este ejercicio, se utilizan variables que contienen datos clave sobre la gravedad en varias lunas y luego se utilizan para dar formato e imprimir la información.

El formato tiene que acomodar información sobre otras lunas, por lo que debe ser genérico.

En lugar de reemplazar las variables en una cadena larga como parte de un párrafo, utiliza la información para presentarla en un formato tabular. El resultado debería verse así:

```
Gravity Facts about Ganymede
-------------------------------------------------------------------------------
Planet Name: Mars
Gravity on Ganymede: 1.4300000000000002 m/s2
```

In [62]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

Primero, crea un título para el texto. Debido a que este texto trata sobre la gravedad en la Tierra y la Luna, úsalo para crear un título significativo. Utiliza las variables en lugar de escribir.

In [65]:
# Creamos el título

title = f'Gravity data for the {name}'
print(title)

Gravity data for the Moon

Ahora crea una plantilla de cadena multilínea para contener el resto de la información. En lugar de usar kilómetros, debes convertir la distancia a metros multiplicando por 1,000.

In [82]:
# Creamos la plantilla
data = f"""{'----------------'} 
Planet Name: {planet} 
Gravity in {name}: {gravity * 1000} m/s2 
"""

print(data)

----------------
Planet Name: Earth
Gravity in Moon: 1.6199999999999999 m/s2

Finalmente, usa ambas variables para unir el título y los hechos.

In [83]:
# Unión de ambas cadenas
template = f"""{title.title()}
{data}""" 

print(template)

Gravity Data For The Moon
----------------
Planet Name: Earth
Gravity in Moon: 1.6199999999999999 m/s2

Ahora usa información de una luna diferente para ver si la plantilla todavía funciona.

Datos muestra: 
```
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'
```

In [84]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [85]:
# Comprueba la plantilla
# print(nombre_plantilla)
print(template)

Gravity Data For The Moon
----------------
Planet Name: Earth
Gravity in Moon: 1.6199999999999999 m/s2

La salida no muestra información sobre Marte. Todavía muestra información sobre la Luna. Esto sucede porque las cadenas f están ansiosas en su evaluación, por lo que las variables una vez asignadas no se pueden reasignar. Para evitar este problema, vuelva a hacer la plantilla para utilizar .format():

In [88]:
# Nueva plantilla
new_template = """
Gravity data on: {nombre}
-------------------------------------------------------------------------------
Planet Name: {planeta}
Gravity in {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Gravity data on: Ganímedes
-------------------------------------------------------------------------------
Planet Name: Marte
Gravity in Ganímedes: 0.00143 m/s2

Debido a que .format() no permite expresiones, la gravedad en Ganímedes es incorrecta. Asegúrese de que la operación se realiza fuera de la plantilla de formato e imprima de nuevo para ver el resultado de trabajo.

In [89]:
# Pista: print(nueva_plantilla.format(variables))
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Gravity data on: Ganímedes
-------------------------------------------------------------------------------
Planet Name: Marte
Gravity in Ganímedes: 1.4300000000000002 m/s2